body, html {
    margin: 0;
    background-color: #F2F2F2;
}

header {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/coffee-backg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    margin-bottom: 5.2rem; /* distancia entre el header y el main */
}

header h1 {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 0 auto;
    max-width: 780px;
    
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.profile-photo {
    background-image: url('img/profile-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    bottom: -50px;
    position: absolute;
}

.profile-name {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    bottom: -80px; /* distancia entre la foto de perfil y el nombre */
    color: black;
    position: absolute;
}

.article-updating {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

.line {
    background-color: gray;
    width: 200px;
    height: 2px;
    /* coloca la linea en medio de la página */
    margin: 0 auto;
}

main {
    margin-bottom: 60px;
}

.num-section {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    font-style: bold;
    color: gray;
    left: -80px;
}

#definicion {
    max-width: 66.67%; /* Establece el ancho máximo del artículo al 66.67% del contenedor principal */
    margin: 0 auto; /* Centra el artículo horizontalmente */
    text-align: justify; /* Justifica el texto en el artículo si lo deseas */
}

#definicion h1 {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    font-style: bold;
    color: rgb(51, 51, 51);
    position: relative;
}

#definicion p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 51, 51);
    text-align: justify;
}

#definicion img {
    width: 100%;
    height: auto;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/footer-backg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 3rem;
    color: white;
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

#copyright {
    position: absolute;
    left: 80px;
}

footer p {
    margin: 0;
    display: inline;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    position: relative;
}

/* #contacto {
    position: absolute;
    right: 62%;
}

#mail {
    position: absolute;
    right: 50%;
    display: inline-block;
} */

#comienzo {
    position: absolute;
    left: 80%;
}

section {
    margin: 0 auto;
}

footer a:hover {
    color: cornflowerblue;
}